<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.armandgray.taap">

    <uses-feature android:name="android.hardware.type.watch"/>

    <!-- Normal Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".application.WearApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true"/>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>

        <activity
            android:name=".activity.ActiveDrillActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.armandgray.com"
                    android:pathPrefix="/taap"
                    android:scheme="http"/>
                <data
                    android:host="taap"
                    android:scheme="armandgray"/>
            </intent-filter>
        </activity>
        <activity android:name="androidx.wear.activity.ConfirmationActivity"/>
        <activity
            android:name=".activity.CourtActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.LogsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.LocationActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.DrillPickerDialog"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.PreferencesDialog"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.PreferenceSeekBarDialog"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.PreferenceToggleDialog"
            android:launchMode="singleTop"/>
        <activity
            android:name=".permission.PermissionRationaleDialog"
            android:launchMode="singleTop"/>
    </application>

</manifest>