<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.armandgray.taap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.armandgray.com"
                    android:pathPrefix="/taap"
                    android:scheme="http" />
                <data
                    android:host="taap"
                    android:scheme="armandgray" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.armandgray.taap.MainActivity" />
        </activity>
        <activity
            android:name=".settings.detail.SettingsDetailActivity"
            android:label="@string/title_activity_settings_detail"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.armandgray.taap.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".detail.DrillDetailActivity"
            android:label="@string/title_activity_drill_detail"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".log.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.armandgray.taap.MainActivity" />
        </activity>

        <provider
            android:name=".db.DatabaseContentProvider"
            android:authorities="com.armandgray.taap.db.provider"
            android:exported="false" />
    </application>

</manifest>